body{
    background-image: url("../IMG/fondo2.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.cuadro {
    background-color: rgba(183, 255, 0, 0.704);
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 50px;
    padding: 20px;
    margin-top: 250px;
}